.login {
    padding: 0.5em;
    form{
        width: 100%;
        display: grid;
        justify-items: center
    }
    img{
        width: 9.8em;
    }
    .login__form {
        background: var(--bg-color--white);
        border-radius: 16px;
    }
}