.button {
    font-weight: bold;
    padding: 12px 18px;
    border: none; //2px solid var(--border-color--second);
    border-radius: 35px;
    background-color: var(--bg-color--first);
    cursor: pointer;
    color: var(--text-color--white);

    &:hover {
        background-color: var(--bg-color--third-alter);
    }
}