.header {
    .side_menu_bars {
        cursor: pointer;
        color: var(--text-color--third);
        font-weight: bold;
    }

    img {
        width: 7.26em;
    }
    .header__button{
        background: var(--bg-color--second);
        border-radius: 8px;
        .account-icon, .header__home {
            width: 3em;
            filter: invert(100%) sepia(1%) saturate(3188%) hue-rotate(328deg) brightness(112%) contrast(100%);
        }
    }

    a {
        display: flex;
        font-size: var(--text-size--4);
        color: var(--text-color--third);
        font-weight: bold;
    }
}