.home_page {
    .section_card {
        padding: 1rem;
        border-radius: 1rem;
        background-color: #80cdf1;
        color: #0f87bf;
        cursor: pointer;

        &:hover {
            background-color: #20b1f4;
        }
    }
}