.ranking_user_card {
    $imageSize: 4rem;
    background-color: RGB(var(--color--blue--5));
    gap: 1rem;

    .card_placement_container {
        grid-template-columns: 2rem minmax(5rem, auto);

        .user_placement {
            justify-self: center;
        }
    }

    .user_placement {
        font-size: var(--text-size--9);
    }

    .user_points {
        font-size: var(--text-size--10);
    }

    .card_user_info {
        gap: 1rem;
        min-height: 100px;

        .user_picture {
            align-self: center;
            // overflow: hidden;
            width: $imageSize;
            min-width: $imageSize;
            height: $imageSize;
            max-height: $imageSize;

            img {
                border-radius: 50%;
                width: $imageSize;
                height: $imageSize;
                object-fit: contain;
            }
        }

        .crown_icon {
            position: absolute;
            bottom: 100%;
            left: 50%;
            color: #FFD700;
            transform: translateX(-50%) scaleX(1.4);
            transform-origin: center;
        }

        .user_name {
            font-size: var(--text-size--4);
        }

        .user_career,
        .user_campus,
        .user_institution,
        .user_location {
            font-size: var(--text-size--2);
        }
    }
}

@media (max-width: 480px) {
    .ranking_user_card {
        gap: 0.3rem;

        .card_placement_container {
            grid-template-columns: 2rem minmax(3rem, auto);
        }

        .user_placement,
        .user_points {
            font-size: var(--text-size--8);
        }

        .card_user_info {
            gap: 0.3rem;

            .user_name {
                font-size: var(--text-size--3);
            }
        }

        .user_career,
        .user_campus,
        .user_institution,
        .user_location {
            font-size: var(--text-size--1);
        }
    }
}