.ranking_container {
    background: var(--bg-color--white);
    border-radius: 16px 16px 0 0;

    .ranking_filters_container {
        max-width: 250px;
    }
}

.ranking_users_container {
    max-width: 800px;
}